@import '~antd/es/style/themes/default.less';
@size: 28px;
.page {
  display: flex;
  width: 100vw;
  height: 100vh;

  .tools {
    flex-shrink: 0;
    width: 220px;
    background-color: #f8f8f8;
    border-right: 1px solid #d9d9d9;
    overflow-y: auto;

    .title {
      color: #0d1a26;
      font-weight: 600;
      font-size: 12px;
      padding: 5px 10px;
      margin-top: 8px;
      border-bottom: 1px solid #ddd;

      &:first-child {
        border-top: none;
      }
    }

    .buttons {
      a {
        display: inline-block;
        color: @text-color;
        line-height: 1;
        width: 36px;
        height: 36px;
        text-align: center;
        text-decoration: none !important;

        i {
          font-size: @size;
        }
        img {
          display: inline-block;
          line-height: 1;
          width: @size;
          height: @size;
          vertical-align: text-bottom;
        }
      }
    }
  }

  .full {
    position: relative;
    flex: 1;
    width: initial;
    position: relative;
    overflow: auto;
    background: #fff;
    .locked {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      color: chocolate;
    }
  }

  .props {
    flex-shrink: 0;
    width: 260px;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-left: 1px solid #d9d9d9;
    overflow-y: auto;
    box-sizing: border-box;
  }
}
